#navigation {
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    position: fixed;
    top: 10vh;
    
    padding: 0 2em 0 0;
    overflow-x: hidden;
    z-index: 5000000;
}
.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    transition: background 1s, right 1s;
    padding-left: 2em
}
.main-navigation.hide {
    right: -100%;
}
.main-navigation.show {
    right: 0%;
    background: rgb(0 0 0 / 50%);
}
ul {
    padding-right: 2em;
}
a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}
a:hover {
    text-decoration: underline;
    color: #eee;
}

img {
    height: 10vmin;
    cursor: pointer;
}

@media (max-width: 1200px) {
    #navigation {
        top: 0;
        align-items: flex-start;
        width: fit-content;
        right 0;
    }
    .main-navigation {
        height: 100vh;
        padding: 5vh 0;
        width: 40%;
        flex-direction: column;
    }
    ul {
        display: block;
    }
    li {
        padding-top: 3em;
    }
    .main-navigation.hide {
        right: -100%;
    }
    .main-navigation.show {
        right: -60%
        
    }
}